<nav class="navbar navbar-expand-sm navbar-light bg-secondary">
  <!-- <div class="container-fluid"> -->
      <a routerLink="/" class="navbar-brand">Recipe Book</a>

    <!-- <div class="collapse navbar-collapse"> -->
      <ul class="navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated" class="nav-item">
          <a routerLink="/recipes" class="nav-link">Recipes</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated" class="nav-item">
          <a routerLink="/auth" class="nav-link">Authenticate</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/shopping-list" class="nav-link">Shopping List</a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li *ngIf="isAuthenticated" class="nav-item">
          <a style="cursor: pointer;" (click)="onLogout()" class="nav-link">Logout</a>
        </li>
        
        <li class="dropdown nav-item" appDropdown *ngIf="isAuthenticated" >
          
          <a style="cursor: pointer;" class="dropdown-toggle nav-link" data-toggle="dropdown">Manage
             <!-- <span class="caret"></span>  -->
             </a>
          <div class="dropdown-menu">
              <a style="cursor: pointer;" (click)="onSaveData()" class="dropdown-item">Save Data</a>

              <a style="cursor: pointer;" (click)="onFetchData()" class="dropdown-item">Fetch Data</a>
          </div>
        </li>
        <li class="nav-item">
          

        </li>
      </ul>
    <!-- </div> -->
  <!-- </div> -->
</nav>
